<!-- nav -->
<nav class="mb-1 navbar navbar-expand-lg sticky-top navbar-dark bg-info">


  <div class="collapse navbar-collapse navbarSupportedContent">
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <span class="nav-link">Welcome User</span>
        </a>
      </li>      
    </ul>
  </div>
</nav>

<!-- main app container -->
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<!--footer-->
<div class="container-fluid">
  <footer class="footer mb-3" style="padding-left:40%;">
    © POC Lipsum 
  </footer>
</div>